*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Cho phép đưa toàn bộ hình ảnh, tài liệu và dữ liệu lên Git
!/storage/app/public/**
!/storage/*.png
!/storage/*.jpg
!/storage/*.jpeg
!/storage/*.webp
!/database/**
